<div class="git-wiki-search-github">
    <form method="GET" action="{{ site.github.repository_url }}/search">
        <div class="form-group">
            <input type="text" class="form-control" name="q[]" placeholder="Buscar">
            {% if site.use_github_wiki %}
                <input type="hidden" name="type" value="Wikis">
            {% else %}
                <input type="hidden" name="q[]" value="path:/{{ site.wiki_folder }}">
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="Buscar">
        </div>
    </form>
</div>